{% extends 'base.html.twig' %}

{% block title %}Epreuve{% endblock %}

{% block body %}
   {# <div class=" contenu container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <select class="custom-select">
                        <option selected>Séléctionner une épreuve</option>
                        <option value="1">Ski</option>
                        <option value="2">Ski de fond</option>
                        <option value="3">Ski de bosse</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <a href="#" ><button type="button" class="btn btn-success">Ajouter une épreuve</button></a>
                </div>
                <div class="col-md-6">

                </div>
                <div class="col-md-6 ajoutParticipantButton">
                    <a href="#"><button type="button" class="btn btn-success">Ajouter un participant</button></a>
                </div>
            </div><!-- /row -->
        </div>
    </div>#}

    <form method="post" action="">

        <div class="form-group">
            {#                    <label for="prenom"></label>#}
            <input type="text" class="form-control" id="lieu" name="lieu" placeholder="Lieu Epreuve">
        </div>

        <div class="form-group">
            {#                    <label for="prenom"></label>#}
            <input type="date" class="form-control" id="date" name="date" placeholder="Date Epreuve">
        </div>
                <!-- submit -->
                <button type="submit" name="submit" value="submit" class="btn btn-success">Enregister l'epreuve</button>

    </form>
{% endblock %}