{# j'extends le fichier de base  #}
{% extends 'base.html.twig' %}

{# ce bloc va servir à renommer la balise title  #}
{% block title %}Accueil{% endblock %}

{# ici sera mon contenu #}
{% block body %}
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="bloc1 col-md-6">

                </div>
                <div class="bloc1bis col-md-6">

                </div>
            </div>
        </div>
    </div>
{% endblock %}


{# dans ce block sera excuter mon javascript #}
{% block javascripts %}
    {#<script type="text/javascript">window.alert('bonjour');</script>#}
{% endblock %}

